@use '../abstracts/media';

.content {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
  }
}

@include media.query('medium') {
  .content {
    margin: 0 3rem;
    flex-wrap: nowrap;
    gap: 10%;
    align-items: center;
    justify-content: space-between;

    > * {
      width: 50%;
    }
  }
}