@layer base {
  html {
    --base-font-size: 16;
    --to-rem: var(--base-font-size) * 1rem;
  }

  button {
    cursor: pointer;
  }
}

body {
  font-family: var(--font-family);
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  line-height: var(--lh-300);
}