$colors: (
  'orange': ( //
    '400': hsl(26 100% 55%),
    '100': hsl(26 100% 94%),
  ),

  'gray': ( //
    '900': hsl(0 0% 0% / .75),
    '700': hsl(220 13% 13%),
    '400': hsl(220 9% 45%),
    '300': hsl(220 14% 75%),
    '200': hsl(220 35% 92%),
    '100': hsl(220 64% 98%),
  ),
);

// Generate CSS custom properties for all color shades
@mixin customProps() {

  // for each color
  @each $color,
  $shades in $colors {

    /* clr-#{$color} */
    // for each shade
    @each $shade,
    $shade-value in $shades {
      --clr-#{$color}-#{$shade}: #{$shade-value};
    }
  }
}

// Generate utility classes for all color shades
@mixin utilities() {

  // for each color
  @each $color,
  $shades in $colors {

    // for each shade
    /* clr-#{$color}, bg-#{$color} */
    @each $shade,
    $shade-value in $shades {

      // text color
      .text-#{$color}-#{$shade} {
        color: var(--clr-#{$color}-#{$shade});
      }

      // background color
      .bg-#{$color}-#{$shade} {
        background-color: var(--clr-#{$color}-#{$shade});
      }
    }
  }
}