<!-- Side navigation -->
<aside class='fixed inset-0 bg-gray-900 z-50 invisible lg:hidden' data-side-nav-container>
  <nav class='max-w-[67%] min-h-full p-6 bg-white ' data-side-nav-pane>
    <!-- Close menu button -->
    <button data-btn-close-side-nav>
      <img src="assets/icon-close.svg" alt="">
    </button>

    <!-- Navigation list -->
    <ul class='mt-12 space-y-5'>
      <li>
        <a class='font-bold text-lg leading-snug hover:underline cursor-pointer'>Collections</a>
      </li>

      <li>
        <a class='font-bold text-lg leading-snug hover:underline cursor-pointer'>Men</a>
      </li>

      <li>
        <a class='font-bold text-lg leading-snug hover:underline cursor-pointer'>Women</a>
      </li>

      <li>
        <a class='font-bold text-lg leading-snug hover:underline cursor-pointer'>About</a>
      </li>

      <li>
        <a class='font-bold text-lg leading-snug hover:underline cursor-pointer'>Contact</a>
      </li>
    </ul>
  </nav>
</aside>
