.clr-primary-400 {
  color: var(--clr-primary-400);
}

.clr-gray-700 {
  color: var(--clr-gray-700);
}

.clr-gray-400 {
  color: var(--clr-gray-400);
}

.clr-gray-300 {
  color: var(--clr-gray-300);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}

.bg-gray-100 {
  background-color: var(--clr-gray-100);
}