.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-end {
  align-self: flex-end;
}

.gap-16 {
  gap: 1rem;
}

.gap-22 {
  gap: 1.375rem;
}