@use 'sass:math';
@use '../abstracts/mixins';

.gallery {
  --item-spacer: 1rem;

  &__preview,
  &__thumbnail {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  &__preview {
    width: 100%;
  }

  &__thumbnail-list {
    display: flex;
    column-gap: var(--item-spacer);
  }

  &__thumbnail {
    width: 25%;
  }

  > * + * {
    margin-top: var(--item-spacer);
  }

  &--visibility {
    display: none;

    @include mixins.media('medium') {
      display: block;
    }
  }
}